body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.container {
  margin-top: 50px;
  background: white;
  padding: 30px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}