body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

.container {
  margin-top: 60px;
  background: white;
  padding: 30px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

button {
  padding: 10px 20px;
  background: #22c55e;
  color: white;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 5px;
}